/*
 * Consistent width buttons
 */
button {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}

/*
 * CSS for debugging layout
 */
@media all and (max-width: 1080px) {
  .mediBtns{
    display:block;
  }
  .miniBtns{
    display:block;
  }

}
/*
 * CSS for regular layout
 */
@media all and (max-width: 400px) {
  .mediBtns{
    display:block;
  }
  .miniBtns{
    display:none;
  }
}

/*
 * CSS for thin layout
 */
@media all and (max-width: 150px) {
  .mediBtns{
    display:none;
  }
  .miniBtns{
    display:block;
  }
}
