body {
}

button {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}


@media all and (max-width: 1080px) {
  .mediBtns{
    display:block;
  }
  .miniBtns{
    display:block;
  }

}

@media all and (max-width: 480px) {
  .mediBtns{
    display:block;
  }
  .miniBtns{
    display:none;
  }
}

@media all and (max-width: 300px) {
  .mediBtns{
    display:none;
  }
  .miniBtns{
    display:block;
  }
}
